 body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
 padding: 0;
}

/* header part*/
header nav {
    background-color: #333;
    padding: 15px;
    text-align: center;
}
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover {
    color: orange;
}


/* heropart */
.hero {
     background-color: orange;
     color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero .cta {
    background-color: white;
    color: orange;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
}
.hero .cta:hover {
    background-color: #ffb84d;
    color: white;
}

/* shop part */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 40px auto;
    max-width: 1100px;
}


 .product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 240px;
    text-align: center;
    padding: 15px;
}

.product-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
}


 /*single product */
.product-detail {
    max-width: 800px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.product-detail img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.product-detail h1 {
    margin-top: 10px;
}

.product-detail p {
    font-size: 16px;
}

/* register form */

.register form {
    width: 350px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius:10px;
    border: 1px solid #ccc;
}

.register label {
    display: block;
    margin-top: 15px;
}

.register input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #aaa;
    border-radius: 5px;
}

.register button {
    background: orange;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 20px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
}

.register button:hover {
    background: darkorange;
}


/* footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}